/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@font-face {
  font-family: BubbleProz;
  src: url("/шрифты/ofont.ru_Bubblez\ Graffiti.woff") format("woff"),
       url("/шрифты/ofont.ru_Bubblez\ Graffiti.woff2") format("woff2"),
       url("/шрифты/ofont.ru_Bubblez\ Graffiti.ttf") format("truetype");
}

@font-face {
  font-family: BubblePerv;
  src: url("../шрифты/ofont.ru_Ruthless\ Sketch.woff") format("woff"),
       url("../шрифты/ofont.ru_Ruthless\ Sketch.woff2") format("woff2"),
       url("../шрифты/ofont.ru_Ruthless\ Sketch.ttf") format("truetype");
}



body {
    margin: 0;
  
    /* BEGIN (write your solution here) */
    font-size: 18px;
    background: blanchedalmond;
    color: #000000cc;
    /* END */
    font-family: BubblePerv;
    line-height: 1;
  }
  
  /* BEGIN (write your solution here) */
  h1 {
    font-family: BubbleProz;
    color:#3b0000;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: BubblePerv;
    font-size: 70px;
    text-align: center; 
    }
  
  /* END */
  
  h2 {
    /* BEGIN (write your solution here) */
    color:#7e0101;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif sans-serif;
    font-size: 25px;
    text-align: center;
    /* END */
  }
  
  main {
    width: 900px;
    margin: auto;
  }
  
  /* BEGIN (write your solution here) */
  .section {
    margin-top: 50;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  
  .section-header {
    padding: 0;
    text-align: center;
    border: none;
  }
  
  div {
    text-align: center;
  }

 .end {
  text-align: right;
 }
  
.center-image {
  text-align: center;
}



